body {
  font-family: 'Bangers', cursive;
  letter-spacing: 0.2em;
  text-align: center;
  background-color: rgb(20, 110, 20);
}

#instructions {
  border: 2px solid rgb(22, 2, 112);
  border-radius: 5px;
  background-color: rgb(101, 206, 110);
  margin: 0 auto;
  margin-top: 50px;
  text-align: left;
  max-width: 505px;
  color: rgb(22, 2, 112);
}
#instructions li{
  margin: 0 0 4px 0;
}

#info {
  max-width: 505px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#info h1 {
  text-align: left;
  padding: 7px 15px;
  font-size: 2.3em;
  display: inline;
  margin: 0 10px;
  color: rgb(53, 100, 231);
  text-shadow: 1px 2px 2px rgb(163, 163, 163);
  border-radius: 5px;
  background-color: rgb(231, 231, 231);
  box-shadow: 3px 3px 3px rgb(105, 105, 105);
}

#lives-container {
  width: 30%;
}


#score-container {
  width: 50%;
}


